<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- Legacy permissions-->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- Allowed permissions for companion profiles -->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_WATCH" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_GLASSES" />
<!--  (doesn't work for some reason?) <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_MEDICAL" />-->
    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_FITNESS_TRACKER" />

    <!-- https://developer.android.com/develop/connectivity/bluetooth/companion-device-pairing -->
    <uses-feature android:name="android.software.companion_device_setup"/>
</manifest>